{{#with info}}

<h1>{{name}}</h1>
<div>
    <ul>
        <li><strong>Produto:</strong> {{name}}</li>
        <li><strong>Categoria:</strong> {{category}}</li>
        <li><strong>Preço:</strong> {{price}}</li>
    </ul>
</div>

<a href="/">Voltar para home</a>

{{/with}}